<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Score</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/index.css" type="text/css">
</head>
<body>
    <div class="container-fluid topscores-bg">
        <div class="topscores-text">
          <h4 class="display-3">TOP SCORES</h4>
            <P class="lead">This top score from various games provided <br>on this platform</P>
              <a href="#">
                <button type="button" class="btn btn-warning">see more</button>
                </a>
        </div>
    </div>
    
</body>
</html>